.input-field {
  display: flex;
  flex-direction: column;
  gap: var(--line-spacing-15);
}

.input-label {
  font-size: var(--font-size-13);
  font-family: var(--font-family-muli);
  font-weight: var(--font-weight-bold);
  color: var(--cor-texto);
  text-transform: uppercase;
}

.file-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c3c3c3;
  border-radius: 6px;
  padding: 0 var(--line-spacing-15) 0 var(--line-spacing-20);
}

.file-input span {
  flex-grow: 1;
  font-size: var(--font-size-18);
  color: var(--cor-texto);
  font-family: var(--font-family-muli);
}

.image-preview {
  display: flex;
  align-items: center;
  gap: var(--line-spacing-15);
  width: 50%;
}

.preview-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--cor-border);
}

.file-input-button {
  margin-top: var(--line-spacing-20);
  padding: var(--line-spacing-15) var(--line-spacing-40);
}

.file-input-hidden {
  display: none;
}
